{% extends "hops/base.html" %}
{% load static %}

{% block title %}Alignment{% endblock title %}

{% block pageheader %}HOPS: Alignment{% endblock pageheader %}

{% block content %}
    <div class="content container">
        {% if selected_dataset %}
            <h3 style="padding: 0 0 20px 0">You are analysing {{ selected_dataset.name }}</h3>
            <div class="content-finder-image" style="float:left; padding: 0 20px;">
                {% csrf_token %}
                {% if image_path %}
                    <!-- <img id="finderImage" src="{{ image_path }}" alt="Finder image" onclick="draw(event)"/> -->
                    <canvas 
                        id="finderImageCanvas" 
                        style="background: url({{ image_path  }})" 
                        onclick="draw(event)" 
                        width="640" 
                        height="480"
                    ></canvas>
            </div>

            <div class="content-source-type" style="padding: 0 0 20px 0">
                <input type="checkbox" id="target" name="target" value="target" checked>Target<br>
                <input type="checkbox" id="comparison" name="comp-1" value="comparison">Comparison 1<br>
                <input type="checkbox" id="comparison" name="comp-2" value="comparison">Comparison 2<br>
                <input type="checkbox" id="comparison" name="comp-3" value="comparison">Comparison 3<br>
                <input type="checkbox" id="comparison" name="comp-4" value="comparison">Comparison 4<br>
            </div>

            <form action="{% url 'photometry-results' %}" method="POST">
                {% csrf_token %}
                <input type="submit" value="Perform photometry">
            </form>

            {% endif %}
        {% else %}
            <h3>No data was selected!</h3>
        {% endif %}
    </div>
{% endblock content %}
